body {
    margin: 0;
    padding: 0;
    background: url('../img/fondoindex.png') no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}


.transparente {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.142);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.transparente a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.container1 {
    overflow: auto;
}

.logosena {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.logobienestech {
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.rc-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.containerRC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
    color: green;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.submit-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p a {
    color: green;
    text-decoration: none;
}
